body {
    background-color: #9c3400;
    color: white;
    font-family: "Baskervville SC", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    margin: 0;
}

button {
    background-color: #e981d8;
    color: black;
    font-family: "Baskervville SC", sans-serif;
}

.passo {
    display: none;
}

.passo.ativo {
    display:block;
}

main {
    text-align: center;
    max-width: 90%;
}

img {
    max-width: 90%;
}